<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1><u>Einkaufsliste</u></h1>
<ol>

    {% if message %}<p><strong>{{item}}</strong></p> {% endif %}
         {% csrf_token %}




    {% for item in items %}

    <li>
       {{item}}
    </li>
    {% endfor %}

</ol>
<a href="{% url 'index' %}">Zur Änderung</a>

</body>
</html>
