<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Shoppen</title>
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Caveat&display=swap" rel="stylesheet">
    <style>
        h1{font-family: 'Indie Flower', cursive;}
        body{font-weight: 20px; font-family: 'Caveat', cursive;}
        body{background: #ffffe6;}
        body{margin-left: 120px; margin-top: 20px;}
        td{padding: 5px;}
    </style>
</head>
<body>
{% block liste%}
<h1><u>Einkaufsliste</u></h1>
<ol>

    {% if message %}<p><strong>{{item}}</strong></p> {% endif %}
    <form method="post" action="speichern">
         {% csrf_token %}
        <p>Neue Artikel eingeben: <input type="text" size="20" name="text" value="{{text}}"/></p>
        <p>Menge eingeben: <input type="text" size="10" name="menge" value="{{menge}}"/></p>



    {% for item in items %}

<table>

    <td><ol> <li>
       {{item}}
    </li></ol> </td>
    <td> <input type="checkbox" name="erledigt" id="item" value="{{item.id}}"></td>
</table>

    {% endfor %}
        <input type="submit" name="speichern" value="speichern">

</form>
</ol>
<a href="{% url 'ansicht' %}">Zur Ansicht</a>
{% endblock%}
<script>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</script>
</body>
</html>
