<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hallo! Wenn du das siehst, funktionierts... Bisher</h1>
    <p>To-Do-Liste</p>
    <p>Was willst du heute erledigen?</p>
    <form action="add" method="POST" class='addform'>
        <div class="form-group">
            {% csrf_token %}
            <label for="text" class='label'>Text</label>
            <input type="text" name="text" id="text">
            <input type="submit" value="Hinzufügen" class='btn btn-success' name='add'>
        </div>
    </form>
    <form action="refresh" method="POST" class='cards'>
        <div class="form-group">
            {% csrf_token %}
            <div id="liste" class="card">
                <div class="card-header bg-primary">Zu erledigen</div>
                <div class="card-body">
                    <table class="table">
                        <tr>
                            <th>Erledigt</th>
                            <th>Text</th>
                            <th>Löschen</th>
                        </tr>
                        {% for tun in todo %}
                        <tr>
                            <td><input type="checkbox" name="neu_erledigt" id="" value='{{tun.id}}'></th>
                            <td>{{tun.text}}</th>
                            <td><a href='delete?id={{tun.id}}' class='btn btn-danger'>Löschen</a></th>
                        </tr>
                        {% endfor %}
                    </table>
                
                </div>
            </div>
            <div id="erledigt" class="card">
                <div class="card-header bg-primary">Erledigt</div>
                <div class="card-body">
                    <table class="table"> 
                        <tr>
                            <th>Erledigt</th>
                            <th>Text</th>
                            <th>Löschen</th>
                        </tr>
                        {% for tun in erledigt %}
                        <tr>
                            <td><input type="checkbox" name="bleiben_erledigt" id="" checked value='{{tun.id}}'></th>
                            <td>{{tun.text}}</th>
                            <td><a href='delete?id={{tun.id}}' class='btn btn-danger'>Löschen</a></th>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
            <input type="submit" class='btn btn-primary right' name='refresh' value="Erledigte Do's aktualisieren">
        </div>
    </form>
    
</div>
<div class="col"></div>
</div>
</div>

    
</body>
</html>