<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schiffe versenken</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <style>
        .table-fixed{
            table-layout: fixed;
            width: 500px;
        }
        td{
            border: 1px solid black;
        }
        td:hover{
            background-color: rgb(0, 132, 255);
        }
        table{
            border-collapse: collapse;
            margin-top: 30px;
            margin-bottom: 15px;
        }
        .table {
            width: 400px;
            margin: 0;
        }
    </style>
</head>
<body>
    {% block liste %}
    <h1 class="navbar navbar-dark bg-primary">Lass uns spielen!</h1>
    <ol>
        {% if message %}<p><strong>{{spieler}}</strong></p> {% endif %}
        <form method="post" action="speichern" action="gelöscht">
             {% csrf_token %}
            <p>Spielernamen eingeben: <input type="text" size="20" name="text" value="{{text}}"/> 
                <input type="submit" name="speichern" value="speichern" class="btn btn-warning">
                <input type="submit" name="speichern" value="löschen" class="btn btn-danger">
            </p>

        {% for spieler in spielers %}
    <table class="table table-striped table-dark">
        <th>Spielernamen</th>
        <td><li>
           {{spieler}}
        </li></td>
        <th>Löschen</th>
        <td><input type="checkbox" name="gelöscht" id="spieler" value="{{spieler.id}}"></td>
    </table>
        {% endfor %}
    </form>
    {% endblock %}
  <table class="table-fixed">
      <tr><td></td><td>A</td><td>B</td><td>C</td><td>D</td><td>E</td><td>F</td><td>G</td><td>H</td><td>I</td><td>J</td><td>K</td></tr>
      <tr><td>1</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
      <tr><td>2</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
      <tr><td>3</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
      <tr><td>4</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
      <tr><td>5</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
      <tr><td>6</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
      <tr><td>7</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
      <tr><td>8</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
      <tr><td>9</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
      <tr><td>10</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
    </table>  
<form>
    <input type="submit" value="Prüfen" class="btn btn-dark">
    <button type="button" class="btn btn-success"><a href= "{% url 'ansicht' %}"> Spielen</a></button>
</form>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>